body {
    width: 1000px;
    margin: 0 auto;
}
header {
    color: white;

    background-color: #5b5b5b;

    height: 150px;
    
}
.logo {
    background-image: url("../img/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 25px solid transparent;

    width: 200px;
    height: 50px;
}
.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.logo-link1{
    flex-basis: 45%;
}
.logo-link a, .logo-link1 a {
    color: inherit;
    text-decoration: none;
    text-align: justify;
    padding: 0 10px;
}

.devide-line-green{
    background-color: #75db1b;
    
    width: inherit;
    height: 20px;
    
    border-radius: 30px;

    margin-top: 10px;
    margin-bottom: 10px;
}
.devide-line-gray{
    background-color: #5b5b5b;
    
    width: inherit;
    height: 100px;
    

    margin-top: 30px;
    margin-bottom: 10px;
}
.contain-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.img-block {
    width: inherit;
    height: 150px;
    margin: 5px;
    
    background-image: url("../img/img-example.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}
.info-block {
    width: 200px;
    height: 200px;

    margin: 20px;

    border: 10px solid #5b5b5b;
    border-radius: 15px;
}
.info-text {
    width: inherit;

    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.adv-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    width: inherit;
    height: 250px;
}

.adv-img {
    margin: 10px;
    background-image: url("../img/img-adv.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    
    flex-basis: 50%;
}
.adv-text {
    margin: 10px;

    text-transform: uppercase;
    text-align: justify;

    flex-basis: 50%;
    align-self: center;
}